{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<h2><center style="color:green;">Today's Appointments</center></h2>
<br>
<table class="table table-condensed table-striped">
    <thead style="color:green;">
        <tr>
            <th>Patient First Name</th>
            <th>Patient Last Name</th>
            <th>Appointment Time</th>
            <th>Exam Room</th>
            <th>Duration</th>
            <th>Status</th>
            <th>Check In Time</th>
            <th>Wait Time</th>
            <th>See Patient</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in patients_and_appointments %}
            <tr>
                <td>{{ appointment.first_name }}</td>
                <td>{{ appointment.last_name }}</td>
                <td>{{ appointment.scheduled_time }}</td>
                <td>{{ appointment.exam_room }}</td>
                <td>{{ appointment.duration }}</td>
                <td>{{ appointment.appointment_status }}</td>
                <td>{{ appointment.arrived_time }}</td>
                <td id="timer"></td>
                <td style="text-align:center;"><input type="checkbox"></td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="7" style="text-align:right">Average wait time:</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<script src="/static/js/main.js"></script>

{% endblock %}