{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<h2><center style="color:green;">Today's Appointments</center></h2>
<br>
<table class="table table-condensed table-striped">
    <thead style="color:green;">
        <tr>
            <th>Patient First Name</th>
            <th>Patient Last Name</th>
            <th>Appointment Time</th>
            <th>Exam Room</th>
            <th>Duration</th>
            <th>Status</th>
            <th>Check In Time</th>
            <th>Wait Time</th>
            <th>Seeing Patient</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in patients_and_appointments %}
            <tr>
                <td>{{ appointment.first_name }}</td>
                <td>{{ appointment.last_name }}</td>
                <td>{{ appointment.scheduled_time}}</td>
                <td>{{ appointment.exam_room }}</td>
                <td>{{ appointment.duration }}</td>
                <td>{{ appointment.appointment_status }}</td>
                <td>{{ appointment.check_in }}</td>
                <td>{{ appointment.wait_time }}</td>
                <td><input type="checkbox"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}